<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name ="mibase" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Juank\Documents\GitHub\mantenedor\EjemploArquitectura\01.App_Web\App_Data\Bd_1.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>